.error {
    color: red;
}

form {
    margin-top: 20px;
}

.shopping_cart {
    color: white;
    font-size: x-large;
    margin-top: 10px;
}

.shopping_cart:hover {
    color: #f89406;
}

.cat-grid:nth-child(2) {
    margin: 0;
}

.cat-grid ul li a:hover {

    color: #999;
}

.cuisine
{
    width: 100%;margin-bottom: 30px
}
.qtybox
{
    margin-top: -6%;
    width: 80%;
}
.address
{
    width: 100%;
    height: 350px !important;
}
.detailbill
{
    margin-left: 28%;
}